.my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -10px;
    width: auto;
    padding: 10px;
  }
  .my-masonry-grid_column {
    padding-left: 10px;
    background-clip: padding-box;
  }

  .my-masonry-grid_column > div {
    margin-bottom: 5px;
  }