@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    font-size: 10px;
    --main-color: black;
    --secondary-color: red;
    --white-color: #fff;
    --grey-color: rgb(169, 169, 169);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

iframe{
    min-height: 800px !important;
}